/* Welcome page
 */

.nav-welcome-bg {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%);
}

#jumbotron {
  padding-top: 100px;
  background: transparent;
  height: 500px;
}

/* All other pages
 */

#main {
  padding-top: 20px;
}

