/* The Pemba Map */
#map {
    height: 300px;
}

/* Beneficiary Type Dropdown menu */
#benSelect select {
    font: 18px sans-serif;
    background: #666;
    color: #fff;
    /* Hide the dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Round the border */
    border:1px transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* Set the margin */
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

/* Set the Sector and Key Activity colors */
.Agriculture { fill: #f60; }
[class='01-Agro'] { fill: #00a86b; }
[class='07-Gardens'] { fill: #ff8442; }
[class='08-Bees'] { fill: #ffd963; }
[class='12-Spices'] { fill: #b5d6ff; }

.Energy { fill: #c07; }
[class='05-Stoves'] { fill: #f8766d; }
[class='06-ICSEB'] { fill: #13605b; }
[class='09-Solar'] { fill: #1f9e95; }
[class='11-ICPS'] { fill: #00b0f6; }
[class='04-Charcoal'] { fill: #ff62bc; }

.Forestry { fill: #8c0; }
[class='02A-Nurseries'] { fill: #a3a500; }
[class='02B-Trees'] { fill: #39b600; }
[class='13-PNRM'] { fill: #a3d02f; }

.Water { fill: #0ac; }
.Irrigate { fill: #00bf7d; }
[class='03-Rainwater'] { fill: #00bfc4; }

.Gender { fill: #ce678c; }
[class='Male'] { fill: #f9c83b; }
[class='Female'] { fill: #70c9c1; }

.Total { fill: #aaa; }

/* Changes */
.Improved { fill: #9d0; }
.Declined { fill: #f98; }
.Stayed_the_same { fill: #ccc; }

#enSystemsList text {color: #c07}

/* The Sector Beneficiary Pie Chart*/
#sectorPie text {
  font: 14px sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

/* The Sector Beneficiary Pie Chart*/
#keyActivityPie text {
  font: 14px sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

/* The Beneficiary Bar Chart*/
#benBarTitle {
  font: 22px sans-serif;
  font-weight: bold;
  fill: #333;
}

/* Water Board */
.Achieved { fill: #9d0; }
.Unachieved { fill: #fff; }

/* Final Beneficiaries Tree Diagram */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.benTreeOverlay {
    background-color: #EEE;
}

/* From Yussuf */

div.shade {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
div.size{
    height:500px;
}
h2.shade{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:50px;
    padding:10px
}
img.shade{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shade{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.curve{
    border-radius:50px;
}
.green:hover{
    background-color:#000500;
    border-radius: 50px;
    padding-top:2.5px;
    box-shadow: 0 4px 8px 0 rgba(15, 200, 25, 0.2), 0 6px 20px 0 rgba(25, 200, 15, 0.19);
}
.opa:hover{
    opacity: .5;
}
