/* The Pemba Map */
#map {
    height: 300px;
}

/* Beneficiary Type Dropdown menu */
#benSelect select {
    font: 18px sans-serif;
    background: #666;
    color: #fff;
    /* Hide the dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Round the border */
    border:1px transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* Set the margin */
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

/* Set the Sector and Key Activity colors */
.Agriculture { fill: #f60; }
[class='01-Agro'] { fill: #dcc32f; }
[class='07-Gardens'] { fill: #9590ff; }
[class='08-Bees'] { fill: #d89000; }
[class='12-Spices'] { fill: #f25667; }

.Energy { fill: #c07; }
[class='05-Stoves'] { fill: #f8766d; }
[class='06-ICSEB'] { fill: #e76bf3; }
[class='09-Solar'] { fill: #f15722; }
[class='11-ICPS'] { fill: #00b0f6; }
[class='04-Charcoal'] { fill: #ff62bc; }

.Forestry { fill: #8c0; }
[class='02A-Nurseries'] { fill: #a3a500; }
[class='02B-Trees'] { fill: #39b600; }
[class='13-PNRM'] { fill: #a3d02f; }

.Water { fill: #0ac; }
.Irrigate { fill: #00bf7d; }
[class='03-Rainwater'] { fill: #00bfc4; }

.Total { fill: #aaa; }

/* Changes */
.Improved { fill: #9d0; }
.Declined { fill: #f98; }
.Stayed_the_same { fill: #ccc; }
/* The Sector Beneficiary Pie Chart
#yieldPie text {
  font: 14px sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}*/

#enSystemsList text {color: #c07}

/* The Sector Beneficiary Pie Chart*/
#sectorPie text {
  font: 14px sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

/* The Sector Beneficiary Pie Chart*/
#keyActivityPie text {
  font: 14px sans-serif;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

/* The Beneficiary Bar Chart*/
#benBarTitle {
  font: 22px sans-serif;
  font-weight: bold;
  fill: #333;
}

/* Water Board */
.Achieved { fill: #9d0; }
.Unachieved { fill: #fff; }

/* Final Beneficiaries Tree Diagram */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.benTreeOverlay {
    background-color: #EEE;
}
